h1 {
    font-style: oblique;
}
h3{
    font-style: oblique;

}
.post-header{
    display: flex;
    width: 100%;

}
.Post-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;  
}
.icons-like {
    display: flex;
    justify-content: flex-start;
}
.fa-regular {
    margin: 10px;
}
.fa-share {
    display: flex;
    justify-content: end;
}
img {
    width: 100%;
    margin-top: 22px;
}
.fa-ellipsis-vertical {
    display: flex;
    justify-content: end;

}
.fa-instagram {
    display: flex;
    justify-content: start;
}